@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* font-family: "Fira Sans", serif; */

* {
  margin: 0;
  padding: 0;
}
/* shared style */
body {
  background-color: rgb(245, 245, 245);
}

/* nav styles */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px 24px 160px;
  background: rgb(245, 245, 245);
}
.nav-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 650;
  line-height: 38px;
  letter-spacing: 0%;
}
.nav-btn {
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  color: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  padding: 3px;
  width: 116px;
  height: 50px;
}
/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin-left: 125px;
  padding: 10px;
  border-radius: 20px;
  background: rgb(198, 228, 214);
  width: 80%;
  height: 400px;
}
.banner-subtitle {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  padding: 80px 0 10px 60px;
}
.banner-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0%;
  padding: 0 64px 10px 60px;
}
.banner-btn {
  width: 270px;
  height: 55px;
  margin: 24px 0px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  border: none;
  color: #fff;
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  margin-left: 60px;
  margin-top: 10px;
}
.banner-img {
  width: 350px;
  height: 300px;
  margin-top: 50px;
  margin-right: 45px;
}

/* vision styles */

.vision {
  margin: 80px 160px 0 160px;
}
.vision .title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
}
.vision .subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 10px;
}
.cards {
  display: flex;
  gap: 35px;
  margin-top: 25px;
}
.cards .card1 {
  width: 650px;
  height: 320px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
  padding: 32px;
}
.cards .card2 {
  width: 650px;
  height: 320px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(198, 228, 214);
  padding: 32px;
}
.cards .card3 {
  width: 650px;
  height: 320px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(247, 235, 207);
  padding: 32px;
}
.cards img {
  width: 64px;
}
.card-title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 10px;
}
.card-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
.card1 button {
  padding: 11px 20px 11px 20px;
  border-radius: 8px;
  width: 122px;
  height: 38px;
  background: rgb(84, 144, 245);
  margin: 24px 0px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  border: none;
}
.card2 button {
  padding: 11px 20px 11px 20px;
  border-radius: 8px;
  width: 122px;
  height: 38px;
  background: rgb(9, 161, 92);
  margin: 46px 0px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  border: none;
}

.card3 button {
  padding: 11px 20px 11px 20px;
  border-radius: 8px;
  width: 122px;
  height: 38px;
  background: rgb(255, 194, 57);
  margin: 24px 0px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  border: none;
}
.yunus-speech {
  padding: 35px 24px;
  margin-top: 35px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.quote {
  position: absolute;
}
.speech-describe {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-top: 14px;
  margin-bottom: 8px;
  position: relative;
}
.name {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  margin: 4px 0px;
}
.name-description {
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  margin: 4px 0px;
}

/* recent-news style */
.recent-news {
  margin: 80px 160px 0 160px;
}
.recent-news .title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
}
.recent-news .subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 10px;
}
.recent-container {
  display: flex;
  background: white;
  gap: 35px;
  border-radius: 24px;
  margin-top: 30px;
  padding: 52px;
}
.news-pic img {
  width: 408px;
  height: 306px;
  border-radius: 24px;
}
.news-content {
  width: 744px;
  height: 290px;
}
.news-title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
}
.al-img {
  width: 130px;
  height: 36px;
  margin-bottom: 6px;
}
.span-1 {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.span-2 {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 10px;
}
.news-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 400;
  margin-top: 2px;
  line-height: 22px;
  padding: 2px;
}
.news-btn{
  padding: 13px 26px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  background: rgba(0, 106, 80, 1);
  color: white;
  margin-top: 20px;

}
